<h1>Welcome to Contractor Solutions</h1>
<p>String to edit.</p>

<%= link_to "Login", login_path %> |
<%= link_to "Register", signup_path %> |
<%= link_to "Forgot Password?", forgot_password_path %> |
<%= link_to "Help", help_path %>
